@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap");

/* shared style */
:root {
  --color-pink: #ff42a5;
  --color-blue: #4ec5f7;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
}
.gradient {
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.btn-pink {
  border: 0;
  color: #fff;
  font-size: 1.15rem;
  font-weight: 600;
  padding: 20px 40px;
  border-radius: 50px;
  background-color: var(--color-pink);
}

.btn-blue {
  border: 0;
  color: #fff;
  font-size: 1.15rem;
  font-weight: 600;
  padding: 20px 40px;
  border-radius: 50px;
  background-color: var(--color-blue);
}
/* header style */
header {
  width: 100%;
  padding: 30px 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
header h2 {
  font-size: 3rem;
  font-weight: 700;
}
header h2 > span,
footer h2 > span {
  color: var(--color-pink);
}
header .title-container {
  display: flex;
  align-items: center;
  gap: 20px;
}

header .title-container img {
  width: 5rem;
  height: 2.5rem;
}

nav ul li {
  list-style: none;
}

nav ul li a {
  text-decoration: none;
  color: #3c354f;
}

nav > ul {
  display: flex;
  gap: 32px;
  font-size: 1.25rem;
  font-weight: 500;
  justify-content: center;
  align-items: center;
}

.follow-us {
  padding: 20px 25px;
  border-radius: 10px;
  text-align: center;
  background-color: aliceblue;
}

/* Banner style */

.banner {
  width: 100%;
  background-image: url("../images/Group\ 14.png");
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.banner img {
  width: 40%;
}
.banner-content h3 {
  color: #0b0223;
  font-size: 3rem;
  font-weight: 600;
}

.banner-content h1 {
  margin-bottom: 20px;
  font-size: 6rem;
  font-weight: 800;
}

.banner-content p {
  color: #534c64;
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 20px;
}

.banner-content > .btn-group {
  margin-top: 40px;
  display: flex;
  gap: 1.5rem;
}

/* Game Collection style */

.game-collection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.game-collection .description {
  text-align: center;
  margin-top: 120px;
}

.game-collection .description p {
  color: #534c64;
  font-size: 1.15rem;
  font-weight: 400;
}

.game-collection .description h3 {
  color: #0b0223;
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 1rem;
}
.game-collection-images {
  display: flex;
  gap: 25px;
  margin: 50px 240px;
}
.game-collection-images img {
  width: 100%;
  height: 70%;
  transition: opacity 0.3s ease;
}
.game-collection-images figure {
  position: relative;
  width: 100%;
}
.game-collection-images figure .play-button {
  position: absolute;
  top: 35%;
  left: 45%;
  cursor: pointer; /* Show a pointer cursor when hovering */
}

/* instant play */
.instant-play {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 300px;
}
.instant-play .content > h3 {
  font-size: 3rem;
  font-weight: 700;
  text-align: right;
  margin-bottom: 30px;
}
.instant-play .content > p {
  color: #534c64;
  font-size: 1.15rem;
  font-weight: 400;
  text-align: right;
  margin-bottom: 75px;
}
.img-container > .top-img {
  width: 100%;
}

.img-container {
  position: relative;
}

.absolute-img {
  position: absolute;
  height: 225px;
  width: 225px;
  top: 80%;
  right: 80%;
}

.game-box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  border-radius: 50px;
}
.game-box:hover {
  color: var(--color-pink);
  border: 2px solid var(--color-pink);
  cursor: pointer;
}
.category-1,
.category-2 {
  margin-bottom: 50px;
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
}
footer {
  padding: 120px 0;
  color: white;
  margin-top: 200px;
  background-color: #0b0223;
}

footer .logo,
nav {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
  margin-bottom: 70px;
}
footer nav > ul > li > a {
  color: #fff;
}

footer .important-links > nav > ul > small > a {
  text-decoration: none;
  color: #fff;
}

.copyright {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Responsive for Small device */

@media screen and (max-width: 576px) {
  /* header */

  header {
    flex-direction: column;
  }
  nav > ul {
    flex-direction: column;
    margin-top: 20px;
    gap: 20px;
  }

  /* Banner */
  .banner {
    width: 100%;
    padding: 10px;
    flex-direction: column-reverse;
    gap: 20px;
  }

  .banner-content h3,
  .instant-play .content h3 {
    font-size: 1.5rem;
    text-align: center;
  }

  .banner-content h1 {
    font-size: 3rem;
    text-align: center;
  }

  .banner-content p,
  .instant-play .content p {
    font-size: 1rem;
  }

  .banner img {
    width: 100%;
  }

  /* Game collection */

  .game-collection-images {
    flex-direction: column;
  }
  .game-collection-images img {
    width: 300px;
  }

  /* Instant play */
  .instant-play {
    flex-direction: column;
    padding: 20px;
  }

  .absolute-img {
    width: 150px;
    height: 150px;
    left: 20%;
  }

  .category-1,
  .category-2 {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  footer nav ul {
    padding: 0 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .copyright {
    text-align: center;
  }
}

/* Responsive for Medium device */

@media screen and (min-width: 576px) and (max-width: 768px) {
  /* header */

  header {
    flex-direction: column;
  }
  nav > ul {
    flex-direction: column;
    margin-top: 20px;
    gap: 20px;
  }

  /* Banner */
  .banner {
    flex-direction: column-reverse;
    gap: 100px;
  }

  .game-collection-images {
    flex-direction: column;
  }
  .game-collection-images img {
    width: 300px;
  }

  /* Instant play */
  .instant-play {
    flex-direction: column;
  }
  .absolute-img {
    left: 30%;
  }
  footer nav ul {
    padding: 0 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .copyright {
    text-align: center;
  }
}
